<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.qingyue.oad"
    version="0.1.0">

    <name>Oad Service</name>
        <description>Oad Service plugin based on BC.js</description>
        <license>Apache 2.0</license>
        <keywords>OAD, BLE</keywords>
        <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/oad.js" name="oad">
      <merges target="navigator.oad" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BCOad">
                <param name="android-package" value="org.qingyue.oad.BCOad"/>
            </feature>
        </config-file>

        <source-file src="src/android/org/qingyue/oad/BCOad.java" target-dir="src/org/qingyue/oad" />
        <source-file src="src/android/org/qingyue/oad/utils/Conversion.java" target-dir="src/org/qingyue/oad/utils" />
	<source-file src="src/android/org/qingyue/oad/utils/Tools.java" target-dir="src/org/qingyue/oad/utils" />
    </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BCOad">
        <param name="ios-package" value="BCOad"/>
      </feature>
    </config-file>

    <header-file src="src/ios/oad.h" />
    <header-file src="src/ios/BCOad.h" />
    <source-file src="src/ios/BCOad.m" />
    <framework src="CoreBluetooth.framework" weak="true" />
  </platform>
</plugin>
